services:
  hmpps-prisoner-from-nomis-migration:
    build:
      context: .
    networks:
      - hmpps
    container_name: hmpps-prisoner-from-nomis-migration
    ports:
      - "8081:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_SQS_LOCALSTACK_URL=http://hpfnm-localstack:4566
      - API_BASE_URL_HMPPS_AUTH=http://hpfnm-hmpps-auth:8080/auth
      - API_BASE_URL_NOMIS=http://hpfnm-hmpps-nomis-prisoner-api:8080
      - API_BASE_URL_VISITS=http://hpfnm-hmpps-visits-api:8080
      - API_BASE_URL_MAPPING=http://hpfnm-hmpps-nomis-visit-mapping-api:8080
      - SPRING_R2DBC_URL=r2dbc:postgresql://hpfnm-migration-db:5432/migration?sslmode=prefer

  hmpps-auth:
    image: ghcr.io/ministryofjustice/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hpfnm-hmpps-auth
    ports:
      - "8090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev

  hmpps-nomis-prisoner-api:
    image: ghcr.io/ministryofjustice/hmpps-nomis-prisoner-api:latest
    networks:
      - hmpps
    container_name: hpfnm-hmpps-nomis-prisoner-api
    ports:
      - "8082:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - API_BASE_URL_HMPPS_AUTH=http://hpfnm-hmpps-auth:8080/auth

  hmpps-visits-api:
    # For now use migration as a fake visits API
    image: ghcr.io/ministryofjustice/hmpps-prisoner-to-nomis-update:latest
    networks:
      - hmpps
    container_name: hpfnm-hmpps-visits-api
    ports:
      - "8083:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - HMPPS_SQS_LOCALSTACK_URL=http://hpfnm-localstack:4566
      - API_BASE_URL_HMPPS_AUTH=http://hpfnm-hmpps-auth:8080/auth
      - API_BASE_URL_NOMIS=http://hpfnm-hmpps-nomis-prisoner-api:8080
      - API_BASE_URL_VISITS=http://hpfnm-hmpps-visits-api:8080
      - API_BASE_URL_MAPPING=http://hpfnm-hmpps-nomis-visit-mapping-api:8080


  hmpps-nomis-mapping-api:
    image: ghcr.io/ministryofjustice/hmpps-nomis-mapping-service:latest
    networks:
      - hmpps
    container_name: hpfnm-hmpps-nomis-mapping-api
    ports:
      - "8084:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
    environment:
      - SERVER_PORT=8080
      - SPRING_PROFILES_ACTIVE=dev
      - SPRING_FLYWAY_URL=jdbc:postgresql://hpfnm-mapping-db:5432/mapping?sslmode=prefer
      - SPRING_R2DBC_URL=r2dbc:postgresql://hpfnm-mapping-db:5432/mapping?sslmode=prefer
      - API_BASE_URL_HMPPS_AUTH=http://hpfnm-hmpps-auth:8080/auth

  localstack:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: hpfnm-localstack
    environment:
      - SERVICES=sqs,sns
      - HOSTNAME_EXTERNAL=hpfnm-localstack
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  localstack-external:
    image: localstack/localstack:4
    networks:
      - hmpps
    container_name: hpfnm-localstack-external
    ports:
      - "4566:4566"
    environment:
      - SERVICES=sqs
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-./volume}:/var/lib/localstack"

  mapping-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: hpfnm-mapping-db
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=mapping
      - POSTGRES_USER=mapping
      - POSTGRES_DB=mapping

  migration-db:
    image: postgres:18
    networks:
      - hmpps
    container_name: hpfnm-migration-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=migration
      - POSTGRES_USER=migration
      - POSTGRES_DB=migration

networks:
  hmpps:
