info.app:
  name: Hmpps Prisoner From Nomis Migration
  version: 1.0

spring:
  application:
    name: hmpps-prisoner-from-nomis-migration
  http:
    codecs:
      max-in-memory-size: 10MB

  profiles:
    group:
      dev:
        - "localstack"
      test:
        - "localstack"
        - "stdout"
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${api.base.url.hmpps-auth}/.well-known/jwks.json

      client:
        registration:
          nomis-api:
            provider: hmpps-auth
            client-id: ${nomis.prisoner.api.client.id}
            client-secret: ${nomis.prisoner.api.secret}
            authorization-grant-type: client_credentials
          nomis-sync-api:
            provider: hmpps-auth
            client-id: ${nomis.sync.api.client.id}
            client-secret: ${nomis.sync.api.client.secret}
            authorization-grant-type: client_credentials
          visits-api:
            provider: hmpps-auth
            client-id: ${visits.client.id}
            client-secret: ${visits.client.secret}
            authorization-grant-type: client_credentials
          nomis-mapping-api:
            provider: hmpps-auth
            client-id: ${nomis.mapping.api.client.id}
            client-secret: ${nomis.mapping.api.secret}
            authorization-grant-type: client_credentials
          sentencing-api:
            provider: hmpps-auth
            client-id: ${sentencing.client.id}
            client-secret: ${sentencing.client.secret}
            authorization-grant-type: client_credentials
          activities-api:
            provider: hmpps-auth
            client-id: ${activities.client.id}
            client-secret: ${activities.client.secret}
            authorization-grant-type: client_credentials
          core-person-api:
            provider: hmpps-auth
            client-id: ${core.person.client.id}
            client-secret: ${core.person.client.secret}
            authorization-grant-type: client_credentials
#          csra-api:
#            provider: hmpps-auth
#            client-id: ${csra.client.id}
#            client-secret: ${csra.client.secret}
#            authorization-grant-type: client_credentials
          incidents-api:
            provider: hmpps-auth
            client-id: ${incidents.client.id}
            client-secret: ${incidents.client.secret}
            authorization-grant-type: client_credentials
          locations-api:
            provider: hmpps-auth
            client-id: ${locations.client.id}
            client-secret: ${locations.client.secret}
            authorization-grant-type: client_credentials
          casenotes-api:
            provider: hmpps-auth
            client-id: ${casenotes.client.id}
            client-secret: ${casenotes.client.secret}
            authorization-grant-type: client_credentials
          finance-api:
            provider: hmpps-auth
            client-id: ${finance.client.id}
            client-secret: ${finance.client.secret}
            authorization-grant-type: client_credentials
          alerts-api:
            provider: hmpps-auth
            client-id: ${alerts.client.id}
            client-secret: ${alerts.client.secret}
            authorization-grant-type: client_credentials
          court-sentencing-api:
            provider: hmpps-auth
            client-id: ${court.sentencing.client.id}
            client-secret: ${court.sentencing.client.secret}
            authorization-grant-type: client_credentials
          personal-relationships-api:
            provider: hmpps-auth
            client-id: ${personal.relationships.client.id}
            client-secret: ${personal.relationships.client.secret}
            authorization-grant-type: client_credentials
          organisations-api:
            provider: hmpps-auth
            client-id: ${organisations.client.id}
            client-secret: ${organisations.client.secret}
            authorization-grant-type: client_credentials
          visit-balance-api:
            provider: hmpps-auth
            client-id: ${visit.balance.client.id}
            client-secret: ${visit.balance.client.secret}
            authorization-grant-type: client_credentials
          movements-api:
            provider: hmpps-auth
            client-id: ${ext.movements.client.id}
            client-secret: ${ext.movements.client.secret}
            authorization-grant-type: client_credentials
          officialvisits-api:
            provider: hmpps-auth
            client-id: ${officialvisits.client.id}
            client-secret: ${officialvisits.client.secret}
            authorization-grant-type: client_credentials
        provider:
          hmpps-auth:
            token-uri: ${api.base.url.hmpps-auth}/oauth/token
  r2dbc:
    url: r2dbc:postgresql://${DATABASE_ENDPOINT}/${DATABASE_NAME}
    pool:
      max-life-time: -1
    properties:
      ssl: true
      sslRootCert: /home/appuser/.postgresql/root.crt

  flyway:
    enabled: true
    url: jdbc:postgresql://${DATABASE_ENDPOINT}/${DATABASE_NAME}?sslmode=verify-full
  web:
    error:
      include-message: always

server:
  port: 8080
  servlet:
    context-path: /
  forward-headers-strategy: native
  tomcat:
    remoteip:
      remote-ip-header: x-forwarded-for
      protocol-header: x-forwarded-proto
      internal-proxies: 10\.\d{1,3}\.\d{1,3}\.\d{1,3}|192\.168\.\d{1,3}\.\d{1,3}|169\.254\.\d{1,3}\.\d{1,3}|127\.\d{1,3}\.\d{1,3}\.\d{1,3}|172\.1[6-9]{1}\.\d{1,3}\.\d{1,3}|172\.2[0-9]{1}\.\d{1,3}\.\d{1,3}|172\.3[0-1]{1}\.\d{1,3}\.\d{1,3}|0:0:0:0:0:0:0:1|::1|100\.6[4-9]\.\d{1,3}\.\d{1,3}|100\.[7-9][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.1[0-1][0-9]{1}\.\d{1,3}\.\d{1,3}|100\.12[0-7]\.\d{1,3}\.\d{1,3}
  shutdown: graceful

management:
  endpoints:
    web:
      base-path: /
      exposure:
        include: 'info, health'
  endpoint:
    health:
      cache:
        time-to-live: 2000ms
      show-components: always
      show-details: always
      probes:
        enabled: true
    info:
      cache:
        time-to-live: 2000ms

cancel:
  queue:
    purge-frequency-time: 200ms
    purge-total-time: 20s

complete-check:
  delay-seconds: 10
  scheduled-retry-seconds: 10
  count: 9

activities:
  complete-check:
    delay-seconds: 180
    count: 9
allocations:
  complete-check:
    delay-seconds: 180
    count: 9

finance:
  transactions.forwardingDelaySeconds: 5

courtsentencing:
  mapping-retry:
    delay-milliseconds: 1000
    count: 9

personalrelationships:
  complete-check:
    delay-seconds: 180
    count: 9

externalmovements:
  complete-check:
    delay-seconds: 180
    count: 9

visitslots:
  complete-check:
    delay-seconds: 10
    count: 9

officialvisits:
  complete-check:
    delay-seconds: 180
    count: 9

azure:
  application-insights:
    web:
      enabled: false

# For migrations the failure count is taken from the number of messages on the DLQ at the end of a migration. While this
# is the case we need to fail fast so the failure numbers are accurate. Ideally we'd have a better way to count failures.
hmpps.sqs:
  defaultErrorVisibilityTimeout: 1, 10, 60, 600
  queues:
    # court sentencing will have to process creation events for parent and child entities simultaneously
    # a short delay should be enough for the hierarchy to be created in the right order.
    eventcourtsentencing:
      errorVisibilityTimeout: 1, 1, 1, 1, 1, 1, 5, 5, 60
    eventexternalmovements:
      errorVisibilityTimeout: 1, 1, 1, 10, 60, 600
    migrationvisits:
      errorVisibilityTimeout: 1, 1, 1, 1
      propagateTracing: false
    migrationactivities:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationallocations:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationappointments:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationincidents:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationcourtsentencing:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationcoreperson:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationcsra:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationprisonbalance:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationprisonerbalance:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationexternalmovements:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationvisitslots:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false
    migrationofficialvisits:
      errorVisibilityTimeout: 1, 1, 1, 10
      propagateTracing: false

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false
