generic-service:
  nameOverride: hmpps-prisoner-from-nomis-migration
  productId: DPS060

  replicaCount: 4

  image:
    repository: ghcr.io/ministryofjustice/hmpps-prisoner-from-nomis-migration
    tag: app_version # override at deployment time
    port: 8080

  ingress:
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/server-snippet: |
        server_tokens off;
        location /queue-admin/retry-all-dlqs {
          deny all;
          return 401;
        }
    host: app-hostname.local # override per environment
    tlsSecretName: prisoner-from-nomis-cert

  serviceAccountName: hmpps-prisoner-from-nomis-migration

  # Environment variables to load into the deployment
  env:
    SERVER_PORT: "8080"
    SPRING_PROFILES_ACTIVE: "logstash"
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    FEATURE_ADJUDICATIONS_REPORT_MODE: false
    FEATURE_EVENT_COREPERSON_OFFENDER_BELIEFS-INSERTED: false
    FEATURE_EVENT_COREPERSON_OFFENDER_BELIEFS-UPDATED: false
    FEATURE_EVENT_COREPERSON_OFFENDER_BELIEFS-DELETED: false

  # Pre-existing kubernetes secrets to load as environment variables in the deployment.
  # namespace_secrets:
  #   [name of kubernetes secret]:
  #     [name of environment variable as seen by app]: [key of kubernetes secret to load]

  namespace_secrets:
    hmpps-prisoner-from-nomis-migration-application-insights:
      APPLICATIONINSIGHTS_CONNECTION_STRING: "APPLICATIONINSIGHTS_CONNECTION_STRING"
    hmpps-prisoner-from-nomis-migration-client-creds:
      ACTIVITIES_CLIENT_ID: "ACTIVITIES_CLIENT_ID"
      ACTIVITIES_CLIENT_SECRET: "ACTIVITIES_CLIENT_SECRET"
      ALERTS_CLIENT_ID: "ALERTS_CLIENT_ID"
      ALERTS_CLIENT_SECRET: "ALERTS_CLIENT_SECRET"
      CASENOTES_CLIENT_ID: "CASENOTES_CLIENT_ID"
      CASENOTES_CLIENT_SECRET: "CASENOTES_CLIENT_SECRET"
      CORE_PERSON_CLIENT_ID: "CORE_PERSON_CLIENT_ID"
      CORE_PERSON_CLIENT_SECRET: "CORE_PERSON_CLIENT_SECRET"
      CSRA_CLIENT_ID: "CSRA_CLIENT_ID"
      CSRA_CLIENT_SECRET: "CSRA_CLIENT_SECRET"
      COURT_SENTENCING_CLIENT_ID: "COURT_SENTENCING_CLIENT_ID"
      COURT_SENTENCING_CLIENT_SECRET: "COURT_SENTENCING_CLIENT_SECRET"
      EXT_MOVEMENTS_CLIENT_ID: "EXT_MOVEMENTS_CLIENT_ID"
      EXT_MOVEMENTS_CLIENT_SECRET: "EXT_MOVEMENTS_CLIENT_SECRET"
      FINANCE_CLIENT_ID: "FINANCE_CLIENT_ID"
      FINANCE_CLIENT_SECRET: "FINANCE_CLIENT_SECRET"
      INCIDENTS_CLIENT_ID: "INCIDENTS_CLIENT_ID"
      INCIDENTS_CLIENT_SECRET: "INCIDENTS_CLIENT_SECRET"
      LOCATIONS_CLIENT_ID: "LOCATIONS_CLIENT_ID"
      LOCATIONS_CLIENT_SECRET: "LOCATIONS_CLIENT_SECRET"
      NOMIS_MAPPING_API_CLIENT_ID: "NOMIS_MAPPING_API_CLIENT_ID"
      NOMIS_MAPPING_API_SECRET: "NOMIS_MAPPING_API_SECRET"
      NOMIS_PRISONER_API_CLIENT_ID: "NOMIS_PRISONER_API_CLIENT_ID"
      NOMIS_PRISONER_API_SECRET: "NOMIS_PRISONER_API_SECRET"
      NOMIS_SYNC_API_CLIENT_ID: "NOMIS_SYNC_API_CLIENT_ID"
      NOMIS_SYNC_API_CLIENT_SECRET: "NOMIS_SYNC_API_CLIENT_SECRET"
      ORGANISATIONS_CLIENT_ID: "ORGANISATIONS_CLIENT_ID"
      ORGANISATIONS_CLIENT_SECRET: "ORGANISATIONS_CLIENT_SECRET"
      PERSONAL_RELATIONSHIPS_CLIENT_ID: "PERSONAL_RELATIONSHIPS_CLIENT_ID"
      PERSONAL_RELATIONSHIPS_CLIENT_SECRET: "PERSONAL_RELATIONSHIPS_CLIENT_SECRET"
      SENTENCING_CLIENT_ID: "SENTENCING_CLIENT_ID"
      SENTENCING_CLIENT_SECRET: "SENTENCING_CLIENT_SECRET"
      VISITS_CLIENT_ID: "VISITS_CLIENT_ID"
      VISITS_CLIENT_SECRET: "VISITS_CLIENT_SECRET"
      VISIT_BALANCE_CLIENT_ID: "VISIT_BALANCE_CLIENT_ID"
      VISIT_BALANCE_CLIENT_SECRET: "VISIT_BALANCE_CLIENT_SECRET"
      OFFICIALVISITS_CLIENT_ID: "OFFICIALVISITS_CLIENT_ID"
      OFFICIALVISITS_CLIENT_SECRET: "OFFICIALVISITS_CLIENT_SECRET"
    sqs-migration-visits-queue:
      HMPPS_SQS_QUEUES_MIGRATIONVISITS_QUEUE_NAME: "sqs_name"
    sqs-migration-visits-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONVISITS_DLQ_NAME: "sqs_name"
    sqs-migration-appointments-queue:
      HMPPS_SQS_QUEUES_MIGRATIONAPPOINTMENTS_QUEUE_NAME: "sqs_name"
    sqs-migration-appointments-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONAPPOINTMENTS_DLQ_NAME: "sqs_name"
    sqs-migration-activities-queue:
      HMPPS_SQS_QUEUES_MIGRATIONACTIVITIES_QUEUE_NAME: "sqs_name"
    sqs-migration-activities-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONACTIVITIES_DLQ_NAME: "sqs_name"
    sqs-migration-allocations-queue:
      HMPPS_SQS_QUEUES_MIGRATIONALLOCATIONS_QUEUE_NAME: "sqs_name"
    sqs-migration-allocations-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONALLOCATIONS_DLQ_NAME: "sqs_name"
    sqs-migration-incidents-queue:
      HMPPS_SQS_QUEUES_MIGRATIONINCIDENTS_QUEUE_NAME: "sqs_name"
    sqs-migration-incidents-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONINCIDENTS_DLQ_NAME: "sqs_name"
    sqs-migration-courtsentencing-queue:
      HMPPS_SQS_QUEUES_MIGRATIONCOURTSENTENCING_QUEUE_NAME: "sqs_name"
    sqs-migration-courtsentencing-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONCOURTSENTENCING_DLQ_NAME: "sqs_name"
    sqs-migration-coreperson-queue:
      HMPPS_SQS_QUEUES_MIGRATIONCOREPERSON_QUEUE_NAME: "sqs_name"
    sqs-migration-coreperson-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONCOREPERSON_DLQ_NAME: "sqs_name"
    sqs-migration-csra-queue:
      HMPPS_SQS_QUEUES_MIGRATIONCSRA_QUEUE_NAME: "sqs_name"
    sqs-migration-csra-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONCSRA_DLQ_NAME: "sqs_name"
    sqs-migration-prisonbalance-queue:
     HMPPS_SQS_QUEUES_MIGRATIONPRISONBALANCE_QUEUE_NAME: "sqs_name"
    sqs-migration-prisonbalance-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONPRISONBALANCE_DLQ_NAME: "sqs_name"
    sqs-migration-prisonerbalance-queue:
     HMPPS_SQS_QUEUES_MIGRATIONPRISONERBALANCE_QUEUE_NAME: "sqs_name"
    sqs-migration-prisonerbalance-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONPRISONERBALANCE_DLQ_NAME: "sqs_name"
    sqs-migration-externalmovements-queue:
      HMPPS_SQS_QUEUES_MIGRATIONEXTERNALMOVEMENTS_QUEUE_NAME: "sqs_name"
    sqs-migration-externalmovements-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONEXTERNALMOVEMENTS_DLQ_NAME: "sqs_name"
    sqs-migration-officialvisits-queue:
      HMPPS_SQS_QUEUES_MIGRATIONOFFICIALVISITS_QUEUE_NAME: "sqs_name"
    sqs-migration-officialvisits-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONOFFICIALVISITS_DLQ_NAME: "sqs_name"
    sqs-migration-visitslots-queue:
      HMPPS_SQS_QUEUES_MIGRATIONVISITSLOTS_QUEUE_NAME: "sqs_name"
    sqs-migration-visitslots-dlq:
      HMPPS_SQS_QUEUES_MIGRATIONVISITSLOTS_DLQ_NAME: "sqs_name"
    prison-events-visits-queue:
      HMPPS_SQS_QUEUES_EVENTVISITS_QUEUE_NAME: "sqs_name"
    prison-events-visits-dl-queue:
      HMPPS_SQS_QUEUES_EVENTVISITS_DLQ_NAME: "sqs_name"
    prison-events-sentencing-queue:
      HMPPS_SQS_QUEUES_EVENTSENTENCING_QUEUE_NAME: "sqs_name"
    prison-events-sentencing-dl-queue:
      HMPPS_SQS_QUEUES_EVENTSENTENCING_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-incidents-queue:
      HMPPS_SQS_QUEUES_EVENTINCIDENTS_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-incidents-dl-queue:
      HMPPS_SQS_QUEUES_EVENTINCIDENTS_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-locations-queue:
      HMPPS_SQS_QUEUES_EVENTLOCATIONS_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-locations-dl-queue:
      HMPPS_SQS_QUEUES_EVENTLOCATIONS_DLQ_NAME: "sqs_name"
    prison-events-alerts-queue:
      HMPPS_SQS_QUEUES_EVENTALERTS_QUEUE_NAME: "sqs_name"
    prison-events-alerts-dl-queue:
      HMPPS_SQS_QUEUES_EVENTALERTS_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-casenotes-queue:
      HMPPS_SQS_QUEUES_EVENTCASENOTES_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-casenotes-dl-queue:
      HMPPS_SQS_QUEUES_EVENTCASENOTES_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-coreperson-queue:
      HMPPS_SQS_QUEUES_EVENTCOREPERSON_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-coreperson-dl-queue:
      HMPPS_SQS_QUEUES_EVENTCOREPERSON_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-finance-queue:
      HMPPS_SQS_QUEUES_EVENTFINANCE_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-finance-dl-queue:
      HMPPS_SQS_QUEUES_EVENTFINANCE_DLQ_NAME: "sqs_name"
    prison-events-courtsentencing-queue:
      HMPPS_SQS_QUEUES_EVENTCOURTSENTENCING_QUEUE_NAME: "sqs_name"
    prison-events-courtsentencing-dl-queue:
      HMPPS_SQS_QUEUES_EVENTCOURTSENTENCING_DLQ_NAME: "sqs_name"
    prisoner-from-nomis-csra-queue:
      HMPPS_SQS_QUEUES_EVENTCSRA_QUEUE_NAME: "sqs_name"
    prisoner-from-nomis-csra-dl-queue:
      HMPPS_SQS_QUEUES_EVENTCSRA_DLQ_NAME: "sqs_name"
    prison-events-personalrelationships-queue:
      HMPPS_SQS_QUEUES_EVENTPERSONALRELATIONSHIPS_QUEUE_NAME: "sqs_name"
    prison-events-personalrelationships-dl-queue:
      HMPPS_SQS_QUEUES_EVENTPERSONALRELATIONSHIPS_DLQ_NAME: "sqs_name"
    prison-events-personalrelationships-domain-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPERSONALRELATIONSHIPS_QUEUE_NAME: "sqs_name"
    prison-events-personalrelationships-domain-dl-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPERSONALRELATIONSHIPS_DLQ_NAME: "sqs_name"
    prison-events-personcontacts-domain-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPERSONCONTACTS_QUEUE_NAME: "sqs_name"
    prison-events-personcontacts-domain-dl-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPERSONCONTACTS_DLQ_NAME: "sqs_name"
    prison-events-prisonerrestrictions-domain-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPRISONERRESTRICTIONS_QUEUE_NAME: "sqs_name"
    prison-events-prisonerrestrictions-domain-dl-queue:
      HMPPS_SQS_QUEUES_DOMAINEVENTPRISONERRESTRICTIONS_DLQ_NAME: "sqs_name"
    prison-events-organisations-queue:
      HMPPS_SQS_QUEUES_EVENTORGANISATIONS_QUEUE_NAME: "sqs_name"
    prison-events-organisations-dl-queue:
      HMPPS_SQS_QUEUES_EVENTORGANISATIONS_DLQ_NAME: "sqs_name"
    prison-events-visitbalance-queue:
      HMPPS_SQS_QUEUES_EVENTVISITBALANCE_QUEUE_NAME: "sqs_name"
    prison-events-visitbalance-dl-queue:
      HMPPS_SQS_QUEUES_EVENTVISITBALANCE_DLQ_NAME: "sqs_name"
    prison-events-externalmovements-queue:
      HMPPS_SQS_QUEUES_EVENTEXTERNALMOVEMENTS_QUEUE_NAME: "sqs_name"
    prison-events-externalmovements-dl-queue:
      HMPPS_SQS_QUEUES_EVENTEXTERNALMOVEMENTS_DLQ_NAME: "sqs_name"
    prison-events-officialvisits-queue:
      HMPPS_SQS_QUEUES_EVENTOFFICIALVISITS_QUEUE_NAME: "sqs_name"
    prison-events-officialvisits-dl-queue:
      HMPPS_SQS_QUEUES_EVENTOFFICIALVISITS_DLQ_NAME: "sqs_name"
    rds-database:
      SPRING_FLYWAY_USER: "database_username"
      SPRING_FLYWAY_PASSWORD: "database_password"
      SPRING_R2DBC_USERNAME: "database_username"
      SPRING_R2DBC_PASSWORD: "database_password"
      DATABASE_NAME: "database_name"
      DATABASE_ENDPOINT: "rds_instance_endpoint"
    sqs-hmpps-audit-secret:
      HMPPS_SQS_QUEUES_AUDIT_QUEUE_NAME: "sqs_queue_name"

  allowlist:
    groups:
      - internal

# CloudPlatform AlertManager receiver to route prometheus alerts to slack
# See https://user-guide.cloud-platform.service.justice.gov.uk/documentation/monitoring-an-app/how-to-create-alarms.html#creating-your-own-custom-alerts
generic-prometheus-alerts:
  targetApplication: hmpps-prisoner-from-nomis-migration
  alertSeverity: syscon
  sqsAlertsTotalMessagesThreshold: "0"

cron:
  retry_dlqs_schedule: "*/10 * * * *"
