---
# Per environment values which override defaults in hmpps-prisoner-to-nomis-update/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: prisoner-nomis-migration.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_NOMIS: https://nomis-prisoner-api.prison.service.justice.gov.uk
    API_BASE_URL_NOMIS-SYNC: https://prisoner-to-nomis-update.hmpps.service.justice.gov.uk
    API_BASE_URL_CORE_PERSON: https://hmpps-person-record.hmpps.service.justice.gov.uk
    API_BASE_URL_VISITS: https://visit-scheduler.prison.service.justice.gov.uk
    API_BASE_URL_VISIT_BALANCE: https://hmpps-visit-allocation-api.prison.service.justice.gov.uk
    API_BASE_URL_MAPPING: https://nomis-sync-prisoner-mapping.hmpps.service.justice.gov.uk
    API_BASE_URL_SENTENCING: https://adjustments-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ACTIVITIES: https://activities-api.prison.service.justice.gov.uk
    API_BASE_URL_INCIDENTS: https://incident-reporting-api.hmpps.service.justice.gov.uk
    API_BASE_URL_LOCATIONS: https://locations-inside-prison-api.hmpps.service.justice.gov.uk
    API_BASE_URL_CASENOTES: https://offender-case-notes.service.justice.gov.uk
    API_BASE_URL_FINANCE: https://prisoner-finance-sync-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ALERTS: https://alerts-api.hmpps.service.justice.gov.uk
    API_BASE_URL_COURT_SENTENCING: https://remand-and-sentencing-api.hmpps.service.justice.gov.uk
    API_BASE_URL_PERSONAL_RELATIONSHIPS: https://personal-relationships-api.hmpps.service.justice.gov.uk
    API_BASE_URL_ORGANISATIONS: https://organisations-api.hmpps.service.justice.gov.uk
    API_BASE_URL_EXT_MOVEMENTS: https://external-movements-api.hmpps.service.justice.gov.uk
    API_BASE_URL_OFFICIALVISITS: https://official-visits-api.hmpps.service.justice.gov.uk
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-INSERTED: false
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-UPDATED: false
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-DELETED: false
    FEATURE_EVENT_GL_TRANSACTIONS-INSERTED: false
    FEATURE_EVENT_GL_TRANSACTIONS-UPDATED: false
    FEATURE_EVENT_GL_TRANSACTIONS-DELETED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT-INSERTED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT-UPDATED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT-DELETED: false
    FEATURE_EVENT_AGENCY_VISIT_TIMES-INSERTED: false
    FEATURE_EVENT_AGENCY_VISIT_TIMES-UPDATED: false
    FEATURE_EVENT_AGENCY_VISIT_TIMES-DELETED: false
    FEATURE_EVENT_AGENCY_VISIT_SLOTS-INSERTED: false
    FEATURE_EVENT_AGENCY_VISIT_SLOTS-UPDATED: false
    FEATURE_EVENT_AGENCY_VISIT_SLOTS-DELETED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT_VISITORS-INSERTED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT_VISITORS-UPDATED: false
    FEATURE_EVENT_OFFENDER_OFFICIAL_VISIT_VISITORS-DELETE: false

generic-prometheus-alerts:
  rdsAlertsDatabases:
    cloud-platform-a482726013f85564: "prisoner nomis migration"
  sqsNumberAlertQueueMappings:
    visits:
      - "syscon-devs-prod-prisoner_from_nomis_visits_queue"
      - "syscon-devs-prod-prisoner_from_nomis_visits_dl_queue"
      - "syscon-devs-prod-migration_visits_queue"
      - "syscon-devs-prod-migration_visits_dlq"
    sentencing:
      - "syscon-devs-prod-prisoner_from_nomis_sentencing_queue"
      - "syscon-devs-prod-prisoner_from_nomis_sentencing_dl_queue"
    courtsentencing:
      - "syscon-devs-prod-prisoner_from_nomis_courtsentencing_queue"
      - "syscon-devs-prod-prisoner_from_nomis_courtsentencing_dl_queue"
      - "syscon-devs-prod-migration_courtsentencing_queue"
      - "syscon-devs-prod-migration_courtsentencing_dlq"
    incidents:
      - "syscon-devs-prod-prisoner_from_nomis_incidents_queue"
      - "syscon-devs-prod-prisoner_from_nomis_incidents_dl_queue"
      - "syscon-devs-prod-migration_incidents_queue"
      - "syscon-devs-prod-migration_incidents_dlq"
    locations:
      - "syscon-devs-prod-prisoner_from_nomis_locations_queue"
      - "syscon-devs-prod-prisoner_from_nomis_locations_dl_queue"
    casenotes:
      - "syscon-devs-prod-prisoner_from_nomis_casenotes_queue"
      - "syscon-devs-prod-prisoner_from_nomis_casenotes_dl_queue"
    finance:
      - "syscon-devs-prod-prisoner_from_nomis_finance_queue"
      - "syscon-devs-prod-prisoner_from_nomis_finance_dl_queue"
    alerts:
      - "syscon-devs-prod-prisoner_from_nomis_alerts_queue"
      - "syscon-devs-prod-prisoner_from_nomis_alerts_dl_queue"
      - "syscon-devs-prod-migration_alerts_queue"
      - "syscon-devs-prod-migration_alerts_dlq"
    appointments:
      - "syscon-devs-prod-migration_appointments_queue"
      - "syscon-devs-prod-migration_appointments_dlq"
    activities:
      - "syscon-devs-prod-migration_activities_queue"
      - "syscon-devs-prod-migration_activities_dlq"
    allocations:
      - "syscon-devs-prod-migration_allocations_queue"
      - "syscon-devs-prod-migration_allocations_dlq"
    adjudications:
      - "syscon-devs-prod-migration_adjudications_queue"
      - "syscon-devs-prod-migration_adjudications_dlq"
    personalrelationships:
      - "syscon-devs-prod-prisoner_from_nomis_personalrelationships_queue"
      - "syscon-devs-prod-prisoner_from_nomis_personalrelationships_dl_queue"
      - "syscon-devs-prod-prisoner_from_nomis_personalrelationships_domain_queue"
      - "syscon-devs-prod-prisoner_from_nomis_personalrelationships_domain_dl_queue"
      - "syscon-devs-prod-prisoner_from_nomis_personcontacts_domain_queue"
      - "syscon-devs-prod-prisoner_from_nomis_personcontacts_domain_dl_queue"
      - "syscon-devs-prod-prisoner_from_nomis_prisonerrestrictions_domain_queue"
      - "syscon-devs-prod-prisoner_from_nomis_prisonerrestrictions_domain_dl_queue"
    organisations:
      - "syscon-devs-prod-prisoner_from_nomis_organisations_queue"
      - "syscon-devs-prod-prisoner_from_nomis_organisations_dl_queue"
    coreperson:
      - "syscon-devs-prod-migration_coreperson_queue"
      - "syscon-devs-prod-migration_coreperson_dlq"
      - "syscon-devs-prod-prisoner_from_nomis_coreperson_queue"
      - "syscon-devs-prod-prisoner_from_nomis_coreperson_dl_queue"
    prisonbalance:
      - "syscon-devs-prod-migration_prisonbalance_queue"
      - "syscon-devs-prod-migration_prisonbalance_dlq"
    prisonerbalance:
      - "syscon-devs-prod-migration_prisonerbalance_queue"
      - "syscon-devs-prod-migration_prisonerbalance_dlq"
    visitbalance:
      - "syscon-devs-prod-prisoner_from_nomis_visitbalance_queue"
      - "syscon-devs-prod-prisoner_from_nomis_visitbalance_dl_queue"
    externalmovements:
      - "syscon-devs-prod-prisoner_from_nomis_externalmovements_queue"
      - "syscon-devs-prod-prisoner_from_nomis_externalmovements_dl_queue"
    officialvisits:
      - "syscon-devs-prod-migration_visitslots_queue"
      - "syscon-devs-prod-migration_visitslots_dlq"
      - "syscon-devs-prod-migration_officialvisits_queue"
      - "syscon-devs-prod-migration_officialvisits_dlq"
      - "syscon-devs-prod-prisoner_from_nomis_officialvisits_queue"
      - "syscon-devs-prod-prisoner_from_nomis_officialvisits_dl_queue"
