---
# Per environment values which override defaults in hmpps-prisoner-to-nomis-update/values.yaml

generic-service:
  replicaCount: 4

  ingress:
    host: prisoner-nomis-migration-preprod.hmpps.service.justice.gov.uk

  env:
    APPLICATIONINSIGHTS_CONFIGURATION_FILE: applicationinsights.dev.json
    API_BASE_URL_HMPPS_AUTH: https://sign-in-preprod.hmpps.service.justice.gov.uk/auth
    API_BASE_URL_NOMIS: https://nomis-prisoner-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_NOMIS-SYNC: https://prisoner-to-nomis-update-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_CORE_PERSON: https://hmpps-person-record-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_CSRA: https://cell-sharing-risk-assessment-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_VISITS: https://visit-scheduler-preprod.prison.service.justice.gov.uk
    API_BASE_URL_VISIT_BALANCE: https://hmpps-visit-allocation-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_MAPPING: https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_SENTENCING: https://adjustments-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ACTIVITIES: https://activities-api-preprod.prison.service.justice.gov.uk
    API_BASE_URL_INCIDENTS: https://incident-reporting-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_LOCATIONS: https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_CASENOTES: https://preprod.offender-case-notes.service.justice.gov.uk
    API_BASE_URL_FINANCE: https://prisoner-finance-sync-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ALERTS: https://alerts-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_COURT_SENTENCING: https://remand-and-sentencing-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_PERSONAL_RELATIONSHIPS: https://personal-relationships-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_ORGANISATIONS: https://organisations-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_EXT_MOVEMENTS: https://external-movements-api-preprod.hmpps.service.justice.gov.uk
    API_BASE_URL_OFFICIALVISITS: https://official-visits-api-preprod.hmpps.service.justice.gov.uk
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-INSERTED: false
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-UPDATED: false
    FEATURE_EVENT_OFFENDER_TRANSACTIONS-DELETED: false
    FEATURE_EVENT_GL_TRANSACTIONS-INSERTED: false
    FEATURE_EVENT_GL_TRANSACTIONS-UPDATED: false
    FEATURE_EVENT_GL_TRANSACTIONS-DELETED: false
    CONTACT-SENTENCING_COURT-EVENT-UPDATE_IGNORE-MISSING: true

  scheduledDowntime:
    enabled: true
    startup: '25 6 * * 1-5' # Start at 6.25am UTC Monday-Friday
    shutdown: '58 21 * * 1-5' # Stop at 9.58pm UTC Monday-Friday

generic-prometheus-alerts:
  businessHoursOnly: true
  alertSeverity: syscon-nonprod
  rdsAlertsDatabases:
    cloud-platform-62a9415f993d9717: "prisoner nomis migration"
  sqsNumberAlertQueueMappings:
    visits:
      - "syscon-devs-preprod-prisoner_from_nomis_visits_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_visits_dl_queue"
      - "syscon-devs-preprod-migration_visits_queue"
      - "syscon-devs-preprod-migration_visits_dlq"
    sentencing:
      - "syscon-devs-preprod-prisoner_from_nomis_sentencing_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_sentencing_dl_queue"
    courtsentencing:
      - "syscon-devs-preprod-prisoner_from_nomis_courtsentencing_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_courtsentencing_dl_queue"
      - "syscon-devs-preprod-migration_courtsentencing_queue"
      - "syscon-devs-preprod-migration_courtsentencing_dlq"
    incidents:
      - "syscon-devs-preprod-prisoner_from_nomis_incidents_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_incidents_dl_queue"
      - "syscon-devs-preprod-migration_incidents_queue"
      - "syscon-devs-preprod-migration_incidents_dlq"
    locations:
      - "syscon-devs-preprod-prisoner_from_nomis_locations_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_locations_dl_queue"
    casenotes:
      - "syscon-devs-preprod-prisoner_from_nomis_casenotes_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_casenotes_dl_queue"
    finance:
      - "syscon-devs-preprod-prisoner_from_nomis_finance_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_finance_dl_queue"
    alerts:
      - "syscon-devs-preprod-prisoner_from_nomis_alerts_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_alerts_dl_queue"
      - "syscon-devs-preprod-migration_alerts_queue"
      - "syscon-devs-preprod-migration_alerts_dlq"
    appointments:
      - "syscon-devs-preprod-migration_appointments_queue"
      - "syscon-devs-preprod-migration_appointments_dlq"
    activities:
      - "syscon-devs-preprod-migration_activities_queue"
      - "syscon-devs-preprod-migration_activities_dlq"
    allocations:
      - "syscon-devs-preprod-migration_allocations_queue"
      - "syscon-devs-preprod-migration_allocations_dlq"
    adjudications:
      - "syscon-devs-preprod-migration_adjudications_queue"
      - "syscon-devs-preprod-migration_adjudications_dlq"
    personalrelationships:
      - "syscon-devs-preprod-prisoner_from_nomis_personalrelationships_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_personalrelationships_dl_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_personalrelationships_domain_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_personalrelationships_domain_dl_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_personcontacts_domain_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_personcontacts_domain_dl_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_prisonerrestrictions_domain_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_prisonerrestrictions_domain_dl_queue"
    organisations:
      - "syscon-devs-preprod-prisoner_from_nomis_organisations_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_organisations_dl_queue"
    coreperson:
      - "syscon-devs-preprod-migration_coreperson_queue"
      - "syscon-devs-preprod-migration_coreperson_dlq"
      - "syscon-devs-preprod-prisoner_from_nomis_coreperson_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_coreperson_dl_queue"
    csra:
      - "syscon-devs-preprod-migration_csra_queue"
      - "syscon-devs-preprod-migration_csra_dlq"
      - "syscon-devs-preprod-prisoner_from_nomis_csra_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_csra_dl_queue"
    prisonbalance:
      - "syscon-devs-preprod-migration_prisonbalance_queue"
      - "syscon-devs-preprod-migration_prisonbalance_dlq"
    prisonerbalance:
      - "syscon-devs-preprod-migration_prisonerbalance_queue"
      - "syscon-devs-preprod-migration_prisonerbalance_dlq"
    visitbalance:
      - "syscon-devs-preprod-prisoner_from_nomis_visitbalance_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_visitbalance_dl_queue"
    externalmovements:
      - "syscon-devs-preprod-prisoner_from_nomis_externalmovements_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_externalmovements_dl_queue"
    officialvisits:
      - "syscon-devs-preprod-migration_visitslots_queue"
      - "syscon-devs-preprod-migration_visitslots_dlq"
      - "syscon-devs-preprod-migration_officialvisits_queue"
      - "syscon-devs-preprod-migration_officialvisits_dlq"
      - "syscon-devs-preprod-prisoner_from_nomis_officialvisits_queue"
      - "syscon-devs-preprod-prisoner_from_nomis_officialvisits_dl_queue"

cron:
  retry_dlqs_schedule: "*/10 7-20 * * 1-5"
